firebase_credentials.json
env
# Ignorar archivos específicos
.env
*.log
*.pyc
firebase_credentials.json
firebase_render_ready.json

# Ignorar carpetas
__pycache__/
node_modules/
dist/
build/



# Ignorar todo en una carpeta excepto algo
data/*
!data/README.md

